<!--  Replace menu links here -->

<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="{{site.baseurl}}/blog/" data-bs-toggle="dropdown" onclick="" style="text-decoration:none" onmouseover="style='text-decoration:underline;text-decoration-color:red;'" onmouseout="style='text-decoration:none'">Blog</a>
	<ul class="dropdown-menu">
	  <li><a class="dropdown-item nav-link" href="{{site.baseurl}}/blog/"> <i class="far fa-newspaper"></i>&nbsp;&nbsp;&nbsp;Posts</a></li>
	  <li><a class="dropdown-item nav-link" href="{{site.baseurl}}/tags/"> <i class="fas fa-hashtag"></i>&nbsp;&nbsp;&nbsp;Tags</a></li>
	  <li><a class="dropdown-item nav-link" href="{{site.baseurl}}/archive/"> <i class="fas fa-archive"></i>&nbsp;&nbsp;&nbsp;Archive</a></li>
	</ul>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/projects/" style="text-decoration:none" onmouseover="style='text-decoration:underline;text-decoration-color:red;'" onmouseout="style='text-decoration:none'">Projects</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/" style="text-decoration:none" onmouseover="style='text-decoration:underline;text-decoration-color:red;'" onmouseout="style='text-decoration:none'">About</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="https://stackoverflow.com/users/story/3711562?view=Cv" target="_blank" style="text-decoration:none" onmouseover="style='text-decoration:underline;text-decoration-color:red;'" onmouseout="style='text-decoration:none'">CV</a>
</li>

<!--<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>-->


