<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags/">Tags</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/archive/">Archive</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/projects.html">Projects</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://stackoverflow.com/users/story/3711562?view=Cv" target="_blank">CV</a>
</li>
<!--<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>-->
