<style type="text/css">
.dropdown-large{ padding:1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-large{min-width:500px;}
}	
/* ============ desktop view .end// ============ */
</style>

<!--  Replace menu links here  -->

<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="{{site.baseurl}}/blog/" data-bs-toggle="dropdown"> Blog  </a>
		<div class="dropdown-menu dropdown-large">
			<div class="row g-3">
				<div class="col-6">
					<h6 class="title">Browse</h6>
					<ul class="list-unstyled">
						<li><a class="dropdown-item nav-link" href="{{site.baseurl}}/blog/"> <i class="far fa-newspaper"></i>&nbsp;&nbsp;&nbsp;Posts</a></li>
						<li><a class="dropdown-item nav-link" href="{{site.baseurl}}/categories.html"> <i class="fas fa-hashtag"></i>&nbsp;&nbsp;&nbsp;Categories</a></li>
						<li><a class="dropdown-item nav-link" href="{{site.baseurl}}/archive/"> <i class="fas fa-archive"></i>&nbsp;&nbsp;&nbsp;Archive</a></li>
					</ul>
				</div><!-- end col-3 -->
				<div class="col-6">
					<h6 class="title">Categories</h6>
					<ul class="list-unstyled">
						<li><a href="{{site.baseurl}}/categories.html#spring%20boot">Spring Boot </a></li>
						<li><a href="{{site.baseurl}}/categories.html#git">Git </a></li>
						<li><a href="{{site.baseurl}}/categories.html#docker%20hub">Docker Hub </a></li>
						<li><a href="{{site.baseurl}}/categories.html#continuous%20delivery">Continuous Delivery </a></li>
						<li><a href="{{site.baseurl}}/categories.html#aws">AWS </a></li>
					</ul>
				</div><!-- end col-3 -->
			</div><!-- end row -->
		</div> <!-- dropdown-large.// -->
	</li>


<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/pictures/" style="text-decoration:none" onmouseover="style='text-decoration:underline;text-decoration-color:black;'" onmouseout="style='text-decoration:none'">Pictures</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/projects/" style="text-decoration:none" onmouseover="style='text-decoration:underline;text-decoration-color:black;'" onmouseout="style='text-decoration:none'">Projects</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/" style="text-decoration:none" onmouseover="style='text-decoration:underline;text-decoration-color:black;'" onmouseout="style='text-decoration:none'">About</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/cv/Anantha_Raju_C_Resume.pdf" target="_blank" style="text-decoration:none" onmouseover="style='text-decoration:underline;text-decoration-color:black;'" onmouseout="style='text-decoration:none'">CV</a>
</li>

<!--<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>-->





