<!-- All this area goes before </body> closing tag --> 

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60d71ed28204fc2f"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<div class="addthis_relatedposts_inline"></div>

<script src="https://unpkg.com/vanilla-back-to-top@7.2.1/dist/vanilla-back-to-top.min.js"></script>
<script>addBackToTop({
  diameter: 56,
  backgroundColor: 'rgb(255, 82, 82)',
  textColor: '#fff',
  cornerOffset: 70
})</script>